*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(aliceblue, aquamarine);
}

.giphy-form {
    min-width: 500px;
    width: 50%;
    min-height: 100px;
    height: 100px;

    margin: 20px auto 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.giphy-form .inputs {
    height: 50%;
    width: 100%;

    display: flex;
    
    border-radius: 30px;
}

.giphy-form input {
    width: 50%;

    text-align: center;
    font-size: 20px;

    border-radius: 30px;
}

.giphy-form button {
    border: none;
    background-color: #3d7dec;
}

.container {
    height: calc(100vh - 100px);
    min-height: 50vh;
    width: 100%;

    padding: 4px;
    
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    justify-content: center;
}


.btn {
    width: 20%;
    
    padding: 0 10px;
    margin: 0 5px;
    
    color: white;
    font-size: 14px;
    text-align: center;

    box-shadow: 10px 10px 10px black;

    border-radius: 30px;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
    border: 2px solid black;
}

.remove-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.giphy-img {
    width: 400px;
    height: 400px;
    
    margin: 5px;

    border: 1px solid #ddd;
    border-radius: 10px;
    
    background-size: cover;
    background-origin: top;

    box-shadow: 10px 10px 20px black;
}

.error {
    color: red;
    font-size: 20px;
    border: 2px solid red;
    height: 400px;
    width: 400px;
    text-align: center;
}